@import '../../styles/glodal.scss';

.wrapper {
  @extend %container;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  height: 519px;
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.08);
}

.title {
  font-weight: 400;
  font-size: 20px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 23px;
  margin-bottom: 7px;
}

.button {
  width: 100%;
  height: 48px;
  background-color: $color-primary;
  border: 1px solid $color-background;
  border-radius: 8px;
  padding: 8px 12px;
  color: $color-light;
  @extend %transition;

  &:hover {
    filter: brightness(1.35);
  }
}
