@mixin font ($style: normal, $weight: 400, $size, $height: 136%) {
  font-style: $style;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
}

@mixin flex ($gap) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: $gap;
}

@mixin background-image ($url) {
  background-image: $url;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin border ($width: 1px, $color, $radius) {
  border: $width solid $color;
  border-radius: $radius;
}
