@import '../../../styles/glodal.scss';

.group {
  position: relative;
  padding: 0;
}

.eye {
  position: absolute;
  right: 12px;
  top: 55%;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &.off {
    background-image: url('../../../assets/svg/eyeOff.svg');
  }

  &.on {
    background-image: url('../../../assets/svg/eyeOn.svg');
  }
}
