@import '../../styles/glodal.scss';

.wrapper {
  @extend %container;
  padding-left: 190px;
  padding-right: 190px;
  display: flex;
  gap: 140px;

  @media (max-width: 1024px) {
    padding-left: 160px;
    padding-right: 160px;
    flex-direction: column-reverse;
    gap: 20px;
  }

  @media (max-width: 768px) {
    padding-left: 90px;
    padding-right: 90px;
  }

  @media (max-width: 576px) {
    padding-left: 17px;
    padding-right: 17px;
    gap: 10px;
  }
}

.text {
  max-width: 620px;
}

.paragraph {
  margin-bottom: 23px;
}

.item {
  display: flex;
  gap: 5px;
  margin-bottom: 22px;
}

.info {
  @extend %transition;
  border-bottom: 1px solid transparent;

  &:hover {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
  }
}

.icon {
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.mail {
    background-image: url('../../assets/svg/mail.svg');
  }

  &.phone {
    background-image: url('../../assets/svg/phone.svg');
  }
}
